/* font-family link */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    font-family: 'EB Garamond', serif;
}

.law-image {
    width: 70px;
    height: 70px;
}

.custom-height {
    height: 500px;
    border-radius: 8px;

}

.footer-img {
    height: 45px;
    width: 45px;
}

.banner {
    background-image: url("./images/Rectangle\ 4.png");
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.card-gradiant {
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    border: 1px solid #E7E7E7;
}